:root{
    /* Variables CSS */
    --primary: #e67f22;
    --grey: #f9f9f9;
    --duration: #33c96f;
    --difficulty: #3199de;
    --favorites: #e74b36;
    --moon: #eec341;
    --sun: #eec341;

    /* Taille de police par défaut */
    font-size: 12px;
}

/* Mini Reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    width: 100%;
    vertical-align: middle;
}

/* Mon CSS */
body{
    font-family: "Open Sans", sans-serif;
    margin: 10px;
}

a{
    text-decoration: none;
}

svg{
    vertical-align: middle;
}

/* Header */
header{
    box-shadow: 0 5px 5px lightgrey;
    margin-bottom: 15px;
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;

        .logo{
            font-family: "Montserrat", sans-serif;
            font-weight: 700;
            color: var(--primary);
            font-size: 1.4rem;
            span{
                font-family: "Open Sans", sans-serif;
                color: white;
                background-color: var(--primary);
                width: 30px;
                height: 30px;
                display: inline-flex;
                border-radius: 50%;
                justify-content: center;
                align-items: center;
            }
        }

        ul{
            display: none;
        }

        #theme-switch{
            width: 30px;
            height: 30px;
            display: inline-flex;
            border-radius: 50%;
            justify-content: center;
            align-items: center;
            background-color: var(--grey);
            vertical-align: middle;
            margin-inline-end: 10px;
        }
    }
}

/* Formulaire */
#filters{
    margin-block: 15px;
    box-shadow: 0 5px 5px lightgrey;
    padding: 25px;
    border-radius: 5px;

    #search-box{
        margin-bottom: 15px;
        input{
            width: 100%;
            margin-bottom: 10px;
            padding: 10px;
            border: 1px solid lightgrey;
            border-radius: 5px;
        }

        button{
            width: 100%;
            color: white;
            background-color: var(--primary);
            border: none;
            border-radius: 5px;
        }
    }
    fieldset{
        background-color: var(--grey);
        border: none;
        padding: 10px;
        margin-bottom: 10px;
        legend{
            float: left;
            width: 100%;
            font-weight: 700;
        }
        div, legend{
            margin-bottom: 10px;
        }
    }
}

/* Recettes */
.card{
    margin-block: 15px;
    box-shadow: 0 5px 5px lightgrey;
    border-radius: 5px;
    overflow: hidden; /* Ce qui dépasse est caché */
    position: relative; /* Permet de positionner le coeur */
    img{
        aspect-ratio: 16 / 9;
        object-fit: cover; /* Evite la déformation des images */
    }
    .card-content{
        padding: 20px;
        h2{
            margin-bottom: 10px;
        }
        div{
            margin-block: 25px;
        }
        a{
            color: white;
            background-color: var(--primary);
            padding: 10px;
            display: block;
            text-align: center;
            border-radius: 5px;
        }
    }
}

.badge{
    color: white;
    padding: 5px 10px;
    border-radius: 50px;
    margin-inline-end: 10px;
    &.category{
        background-color: var(--primary);
    }
    &.duration{
        background-color: var(--duration);
    }
    &.difficulty{
        background-color: var(--difficulty);
    }
}

.favorite{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: white;
    border-radius: 50%;
    padding: 5px;
    svg{
        fill: lightgrey;
    }
    &.active{
        svg{
            fill: var(--favorites);
        }
    }
}

/* Footer */
footer{
    #main-footer{
        h2{
            color: var(--primary);
        }
        ul{
            list-style: none;
            li{
                margin-bottom: 10px;
                a{
                    color: black;
                }
            }
        }
    }
    #copyright{
        padding: 10px;
        text-align: center;
    }
}

/* Page recette.html */
#recipe{
    header{
        img{
            aspect-ratio: 1 / 1;
            object-fit: cover;
        }
        .header-content{
            padding: 20px;
            h1{
                margin-bottom: 15px;
            }
        }
    }
}



/* Version tablette */
@media (min-width: 768px){
    :root{
        font-size: 14px;
    }

    /* Formulaire */
    #filters{
        #search-box{
            display: flex;
            input{
                border-start-end-radius: 0;
                border-end-end-radius: 0;
                margin-bottom: 0;
                border-right: 0;
                width: 100%;
            }
            button{
                border-start-start-radius: 0;
                border-end-start-radius: 0;
                width: max-content;
                padding-inline: 15px;
            }
        }
        fieldset{
            div{
                display: inline;
                margin-inline-end: 10px;    
            }
        }
    }
    #recipes{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        margin-bottom: 20px;
        .card{
            margin: 0;
        }
    }

    /* Page recette.html */
    #recipe{
        header{
            display: flex;
            .header-image, .header-content{
                flex: 1;
            }
        }
    }
    
}

/* Version ordinateur */
@media (min-width: 992px) {
    :root{
        font-size: 16px;
    }

    header{
        nav{
            #burger{
                display: none;
            }
            ul{
                display: flex;
                list-style: none;
                gap: 1rem;
                li{
                    padding: 10px;
                    &.active, &:hover{
                        background-color: var(--grey);
                        a{
                            color: var(--primary);
                        }
                    }
                    a{
                        color: black;
                        font-weight: 600;
                    }
                }
            }
        }
    }

    #filters{
        #fields{
            display: flex;
            gap: 1rem;
            fieldset{
                width: 250px;
                div{
                    display: block;
                }
            }
        }
    }
    #recipes{
        grid-template-columns: 1fr 1fr 1fr;
    }

    footer{
        #main-footer{
            display: flex;
            margin-top: 50px;
            padding-block: 50px;
            border-block: 1px solid lightgrey;
            nav, section{
                flex: 1;
            }
        }
        #copyright{
            padding: 25px;
        }
    }
}